html,
body {
    display: flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

#background {
    background: linear-gradient(30deg,#000000, #434343,#000000);
    background-size: 300% 300%;
    animation: bg_mov 10s ease infinite;
    flex:1;
}

@keyframes bg_mov {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#id,
#avatar {
    position: fixed;
    top: 1%;
    left: 1%;
}

#id {
    transform: translate(0, 40%);
    background: linear-gradient(to bottom, #7BC6CC, #BE93C5);
    background-clip: text;
    color: transparent;
    opacity: 0;
}

#avatar {
    margin: 10px;
    width: 50px;
    border-radius: 50%;

    z-index: 1;
}

#avatar:hover {
    box-shadow:
        0px -2px 3px #7BC6CC,
        2px 0px 3px #7BC6CC,
        0px 2px 3px #BE93C5,
        -2px 0px 3px #BE93C5;
    transition: box-shadow 0.2s ease;
}

#avatar:hover+#id {
    transition: all 0.2s ease;
    transform: translate(90%, 40%);
    opacity: 1;
}

.header {
    height: auto;
    width: cover;
    background: linear-gradient(to bottom, #003d4d, #00c996);
    padding: 3px;
}

.footer {
    height: auto;
    width: cover;
    background: linear-gradient(to left, #7BC6CC, #BE93C5);
    text-align: center;

}